<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Витрина Vesti.ru</title>
    <link href="{{url_for('static', path='bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static', path='bootstrap.bundle.min.js')}}"></script>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid container ">
          <a class="navbar-brand" href="/">Витрина Vesti.ru</a>       
            <div class="offcanvas-body">
              <form class="d-flex mt-3 mt-lg-0" method="post"  action="/news/search" enctype="multipart/form-data">
                 dateFrom:  <input class="form-control me-3" name="dateFrom" type="date">
                 dateTo: <input class="form-control me-3" name="dateTo" type="date">
                 query: <input class="form-control me-5" type="search" name="query" placeholder="Что искать?">
                <button class="btn btn-outline-success" type="submit">Найти</button>
              </form>
            </div>
          </div>
    </nav>
      <main class="container py-5 mt-5">
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>